body {
    background-image: url(./datascience.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: white; */
    color:white;
}

h1, h2 {
    color: white;
    size: 2rem;

}

header {
    /* background-image: url(./datascience.png); */
    
    color: white;
    text-align: center;
    padding: 30px 0;
}


nav {
    background-color: #56B2C5;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
    color: #fff;
    font-size: large;
}


.icones a img{
    width: 100px;
    height:100px ;
    padding: 10px;

}
.container {
    width: 80%;
    margin: 20px auto;
}

.presentation {
    display: flex;
    flex-wrap: wrap;
}

.moi {
    background-color: #56B2C5;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    border-color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 40%;
}

.projets {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.projet {
    background-color: #56B2C5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 30%;
    transition: all 0.3s ease;
}

.projet:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.skills ul {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}

.skills li {
    margin-bottom: 10px;
}
/* Footer */
footer {
    background-color: #56B2C5;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}

footer p {
    margin: 0;
}



@media (max-width: 768px) {
    .presentation {
        flex-direction: column;
    }

    .moi, .projet {
        width: 100%;
    }

    .projets {
        flex-direction: column;
    }
}
